[aria2]
host= https://your.aria2.server
port= 443
secret= your_secret
url_pre= http_link_pre
connections= 1


[inotify]
watch_dir= /your/directory/to/watch

[ssh]
port= 443
remote_dir= username@server:remote_dir